.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 20px 60px;
  color: white;
  font-family: 'Arial', sans-serif;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}
.logo {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #4cc9f0;
}
.logo img {
  height: 40px;
}

.nav-links {
  display: flex;
  gap: 20px;
}


.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 800;
}

.nav-links a.active {
  font-weight: bold;
  text-decoration: underline;
}





.contact-btn {background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #fc00ff  100%)}
.contact-btn {
   margin: 10px;
   padding: 10px 20px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .contact-btn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }




/* Mobile menu toggle button */
.menu-toggle {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #2e3d80;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    display: none;
    border-radius: 10px;
  }

  .nav-links.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .contact-btn {
    display: none;

  }
}
